:root{
  /*Color primario*/
    --colorPrimario: #241468;

    /*Luces*/
    --luz-P1:#3E2B8F;
    --luz-P2:#513F9E;
    --luz-P3:#7560CE;

    /*Sombras*/
    --sombra-P1:#18095B;
    --sombra-P2:#140846;
    --sombra-P3:#170F3C;

    --sombra-P3-transparencia: #170F3C99;

  /*Color secundario*/
    --colorSecundario:#9F0D7F;

    /*Luces*/
    --luz-S1:#B52796;
    --luz-S2:#B74DA0;
    --luz-S3:#FF85E4;

    --luz-S3-transparencia: #ff85e569;
    /*Sombras*/
    --sombra-S1:#8B1471;
    --sombra-S2:#71195D;
    --sombra-S3:#520C42;
    
    --sombra-S3-transparencia: #520C4299;
  /*Color acento*/
    --colorAcento: #E8FC00;

    /*Luces*/
    --luz-A1:#F0FD60;
    --luz-A2:#F7FF9B;
    --luz-A3:#F9FFB7;
    /*Sombras*/
    --sombra-A1:#BACA00;
    --sombra-A2:#B5B81C;
    --sombra-A3:#899500;

  /*Blancos y negros*/
    --blanco: #E4DFF9;
    --negro:#070417; 

  /*Cancelar y aceptar*/
    --cancelar:#FF1B1B;
    --aceptar:#29C80F;

  /*Fuentes*/
    --fuente: 'Raleway', sans-serif;
}

body {
  font-family: var(--fuente);
  color: var(--blanco);
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

h2{
  font-style: normal;
  font-weight: 400;
  font-size: 24;
}

h3{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.texto {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.btn-primario {
  background: var(--colorAcento);
  border-radius: 45px;
  width: 320px;
  height: 65px;
  font-family: var(--fuente);
  font-weight: 900;
  font-size: 16px;
  margin: 30px;
}

.btn-primario:hover{
  filter: drop-shadow(0px 6.46414px 6.46414px rgba(0, 0, 0, 0.25));
  background: var(--luz-A3);
  color: var(--colorPrimario);
}

.btn-secundario {
  width: 153.52px;
  height: 35.55px;

  border: 1.61603px solid var(--colorAcento);
  border-radius: 32.3207px;

  font-weight: 600;
  font-size: 16.1603px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--colorAcento);
}

.btn-secundario:hover {
  border: 1.61603px solid var(--luz-A1);
  color: var(--luz-A1);
}

.btn-terciario {
  color: var(--colorAcento);
  text-decoration: none;
}

.btn-terciario:hover {
  text-decoration:underline;
}

a {
  padding: 5px;
  margin: 5px;
}

input {
  color: var(--sombra-S2);
  font-family: var(--fuente);
  font-weight: 900;
  padding-left: 10px;
}

.sin-validar {
  border: 0px;
}

.verificado {
  color: var(--aceptar);
  border-bottom: solid 4px var(--aceptar);
}

.error-input {
  color: var(--cancelar);
  border-bottom: 4px solid var(--cancelar);
}

.error {
  color: var(--cancelar);
}

.recaptcha {
  margin:  40px 5px 10px 5px;
  width: 300px;
}

.iniciar-sesion-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google, .facebook {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  height: 40px;
  width: 205px;
  margin-bottom: 5px;
  padding: 0px 20px 0px 20px;
}

.google img, .facebook img {
  width: 25px;
  height: 25px;
}

.google button, .facebook button {
  background: none;
  border: 0;
}

.google {
  color: var(--negro);
  background-color: var(--blanco);
}

.facebook {
  background-color: #1877F2;
}

.facebook button {
  color: var(--blanco);
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 100px;
  
  border-radius: 10px;
}

/*Pantalla de registro*/

.registro, .login {
  background-image: url('/css/imagenes/fondo.png');
  display: flex;
  justify-content: center;
}

.registro h2 {
  text-align: center;
}

.container {

}

.form-registro {
  width: 759px;
  height: 1450px;
  background-color: var(--sombra-S3-transparencia);
}

form h2{
  width: 519px;
}

.logo-forms {
  margin: 100px 50px 50px 50px;
  width: 75px;
  height: 64px;
}

form input{
  width: 415px;
  height: 54px;

  margin-bottom: 10px;

  background: rgba(228, 223, 249, 0.63);
  box-shadow: inset -3px -4px 4px rgba(181, 39, 150, 0.37);
  border-radius: 9px;
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
}


/*Pantalla de login*/

.form-login {
  background-color: var(--luz-S3-transparencia);
  width: 650px;
  height: 950px;
}

/*Header*/
header {
  padding: 0px;
  height: 106px;
  background-color: var(--luz-P2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  width: 91px;
  height: 83px;
}

.menu {
  width: 43px;
  height: 47px;
  margin: 20px;
}

.header-der{
  display: flex;
  margin-right: 20px;
}

.header-der img {
  width: 30px;
  height: 28px;
  margin: 10px;
}

.buscador {
  background-color: var(--sombra-P3-transparencia);
  border-radius: 30px;
  width: 200px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10px;
}

.buscador img {
  width: 19px;
  height: 19px;
  padding-right: 10px;
}

.home-container {
  background-color: var(--colorPrimario);
}


/*Footer*/
footer {
  height: 518px;
  background-color: var(--sombra-P2);
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

footer .descripcion-footer {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .links div {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--blanco);
}

footer .copyright {
  background-color: var(--sombra-P1);
  margin: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer img {
  width: 30px;
  height: 24px;
  margin: 10px;
}

footer .redes {
  align-items: center;
}

footer .redes div{
  display: flex;
  flex-direction: row;
}