:root{
  /*Color primario*/
    --colorPrimario: #241468;

    /*Luces*/
    --luz-P1:#3E2B8F;
    --luz-P2:#513F9E;
    --luz-P3:#7560CE;

    /*Sombras*/
    --sombra-P1:#18095B;
    --sombra-P2:#140846;
    --sombra-P3:#170F3C;

    --sombra-P3-transparencia: #170F3C99;

  /*Color secundario*/
    --colorSecundario:#9F0D7F;

    /*Luces*/
    --luz-S1:#B52796;
    --luz-S2:#B74DA0;
    --luz-S3:#FF85E4;

    --luz-S3-transparencia: #ff85e569;
    /*Sombras*/
    --sombra-S1:#8B1471;
    --sombra-S2:#71195D;
    --sombra-S3:#520C42;
    
    --sombra-S3-transparencia: #520C4299;
  /*Color acento*/
    --colorAcento: #E8FC00;

    /*Luces*/
    --luz-A1:#F0FD60;
    --luz-A2:#F7FF9B;
    --luz-A3:#F9FFB7;
    /*Sombras*/
    --sombra-A1:#BACA00;
    --sombra-A2:#B5B81C;
    --sombra-A3:#899500;

  /*Blancos y negros*/
    --blanco: #E4DFF9;
    --negro:#070417; 

  /*Cancelar y aceptar*/
    --cancelar:#FF1B1B;
    --aceptar:#29C80F;

  /*Fuentes*/
    --fuente: 'Raleway', sans-serif;
}

body {
  font-family: var(--fuente);
  color: var(--blanco);
  margin: 0;
  background-color: var(--colorPrimario);
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

 h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

h2{
  font-style: normal;
  font-weight: 400;
  font-size: 24;
}

h3{ 
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}



button {
  border: none;
}

.texto {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.label {
  margin: 30px 0px 3px 6px;
}

.btn-primario {
  background: var(--colorAcento);
  border-radius: 45px;
  width: 320px;
  height: 65px;
  font-family: var(--fuente);
  font-weight: 900;
  font-size: 16px;
  margin: 30px;
}

.btn-primario:hover{
  filter: drop-shadow(0px 6.46414px 6.46414px rgba(0, 0, 0, 0.25));
  background: var(--luz-A3);
  color: var(--colorPrimario);
  transform: scale(1.01);
}

.btn-secundario {
  width: 153.52px;
  height: 35.55px;

  border: 1.61603px solid var(--colorAcento);
  border-radius: 32.3207px;

  font-weight: 600;
  font-size: 16.1603px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--colorAcento);
}

.btn-secundario:hover {
  border: 1.61603px solid var(--luz-A1);
  color: var(--luz-A1);
}

.btn-terciario {
  color: var(--colorAcento);
  text-decoration: none;
}

.btn-terciario:hover {
  text-decoration:underline;
}

a {
  padding: 5px;
  margin: 5px;
}

input {
  color: var(--sombra-S2);
  font-family: var(--fuente);
  font-weight: 900;
  padding-left: 10px;
}

.sin-validar {
  border: 0px;
}

.verificado {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 4px var(--aceptar);
}

.error-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid var(--cancelar);
}

.error {
  color: var(--cancelar);
  font-size: smaller;
}

.recaptcha {
  margin:  40px 5px 10px 5px;
  width: 300px;
}

.iniciar-sesion-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google, .facebook {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  height: 40px;
  width: 205px;
  margin-bottom: 5px;
  padding: 0px 20px 0px 20px;
}

.google img, .facebook img {
  width: 25px;
  height: 25px;
}

.google button, .facebook button {
  background: none;
  border: 0;
}

.google {
  color: var(--negro);
  background-color: var(--blanco);
}

.facebook {
  background-color: #1877F2;
}

.facebook button {
  color: var(--blanco);
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 100px;
  
  border-radius: 10px;
}

form div {
  display: flex;
  flex-direction: column;
}

.oculto {
  display: none;
}



/*Pantalla de registro*/

.registro, .login {
  background-image: url('/css/imagenes/fondo.png');
  display: flex;
  justify-content: center;
}

.registro h2 {
  text-align: center;
}

/* .container {

} */

#form-registro {
  width: 759px;
  background-color: var(--sombra-S3-transparencia);
  padding-bottom: 100px;
  padding-top: 50px;
}

form h2{
  width: 519px;
}

.logo-forms {
  margin: 50px 50px 50px 50px;
  width: 75px;
  height: 64px;
}

form input{
  width: 415px;
  height: 54px;

  margin-bottom: 10px;

  background: rgba(228, 223, 249, 0.63);
  box-shadow: inset -3px -4px 4px rgba(181, 39, 150, 0.37);
  border-radius: 9px;
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
}


/*Pantalla de login*/

#form-login {
  background-color: var(--luz-S3-transparencia);
  width: 650px;
  height: 950px;
}

/*Header*/
header {
  padding: 0px;
  height: 106px;
  background-color: var(--luz-P2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  width: 91px;
  height: 83px;
}

.menu {
  width: 43px;
  height: 47px;
  margin: 20px;

}

.header-izq {
  display: flex;
}

.header-der{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header-der img {
  width: 30px;
  height: 28px;
  margin: 10px;
}

.item {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: var(--blanco);
}

li {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  top: 106px;
  background-color: var(--luz-P1);
  padding: 30px;
  /*box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);*/
}

.items-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -226px;
  margin: 0;
  bottom: 0;
}

.menu-abrir{
  opacity: 1;
  visibility: visible;
  left: 0;
  transition: left 0.5s ease-in-out;
}

.menu-cerrar{
  /* opacity: 0;
  visibility: hidden; */
  position: absolute;
  left: -226px;
  margin: 0;
  bottom: 0;
  transition: right 0.5s ease-in-out;
}

.items-perfil {
  visibility: hidden;
  position: absolute;
  right: -200px;
  margin: 0;
}

.perfil-desplegado{
  opacity: 1;
  visibility: visible;
  top: 106px;
  right: 0;
  transition: right 0.5s ease-in-out;
}


.btn-menu {
  background-image: url(/css/imagenes/iconos/menu.svg);
  background-color: var(--luz-P2);
}

.btn-perfil {
  background-image: url(/css/imagenes/iconos/perfil.svg);
  background-color: var(--luz-P2);
  height: 28px;
  width: 30px;
}

.btn-carrito {
  background-image: url(/css/imagenes/iconos/carrito.svg);
  background-color: var(--luz-P2);
  height: 32px;
  width: 30px;
  margin: 10px;
}

nav {
  background-color: var(--sombra-P1);
}

.buscador {
  background-color: var(--sombra-P3-transparencia);
  border-radius: 30px;
  width: 200px;
  height: 40px;
  margin-right: 10px;
  border: none;
  color: var(--blanco);
  font-family: var(--fuente);

}

.buscador img {
  width: 19px;
  height: 19px;
  padding-right: 10px;
}

.home-container {
  background-color: var(--colorPrimario);
}

.inicio {
  display: flex;
}


/*Footer*/
footer {
  /* antes 518 px */
  height: 445px;
  background-color: var(--sombra-P2);
  display: flex;
  flex-direction: column;
  /* position: absolute;
  bottom: 0; */
}

footer .descripcion-footer {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .links div {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--blanco);
}

footer .copyright {
  background-color: var(--sombra-P1);
  margin: 0;
  text-align: center;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
}


footer .redes {
  align-items: center;
}

footer .redes div{
  display: flex;
  flex-direction: row;
} 

.redes img {
  width: 30px;
  height: 25px;
  margin: 10px;
}

/* juego en ejecucion */

/* body{
  background-color: var(--colorPrimario);
} */

.juegoEnEjecucion{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--sombra-P1);
  border-radius: 5px 5px 5px 5px;
}

.headlines{
  width: 100%;
  height: 50px;
  margin-top: 0%;
  background-color: var(--sombra-P1) ;
  display: flex;
  align-items: center;
}
.headlines h3{
  color: var(--blanco)
  
}
#portada{
  width: 995px;
  height: 590px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 15px;
}
#caratula{
  background-image: url(imagenes/portada-juego.png);
  width: 995px;
  height: 590px;
  background-size: contain;
  border-radius: 10px 10px 10px 10px;
  margin-top: 15px;
  /* margin-left: 160px; */
  margin-bottom: 15px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 

}
.empezar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#instrucciones{
   display: flex;
   /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  /* position: relative;  */
  /* width: 90%;  */
  background-color: var(--luz-P2);
  border-radius: 10px 10px 10px 10px;
  color: var(--blanco);
  font-weight: lighter;
  /* margin-left: 60px; */
  height: 280px;
  margin: 16px 40px;
 
}
#armas , 
#controles , 
#comoJugar , 
#comoGanar{
  display: flex;
  flex-direction: column;
  justify-content: center;
   /* margin: 10px 0px 10px 0px; */
   padding: 10px;
   /* display: inline; */
   height: 90%;
   width: 33%;
}

#controles h2,
#comoJugar h2,
#comoGanar h2 {
  top: 0;
  margin-bottom: 20px;
}

#controles h3{
  /* margin:20px; */
  order: 2;
}
#armas{
  /* width: 33%; */
  /* border-right-width: 1em; */
}

#armas div {
  display: flex;
}

#armas h3 {
  margin-bottom: 0px;
}


#controles, 
#comoJugar , 
#comoGanar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  border-left: thick solid var(--blanco);
  border-width: thin;
  height: 80%;
  /* left: 1px; */
}
#instrucciones p{
  /* align-content: center; */
}
#instrucciones h2{
  display: flex;
  flex-direction: column; 
  text-align: center; 
  /* align-items: center; */
  margin-top: 0px;
  /* height: 40px; */
  top: 0;
}

#instrucciones h3{
  font-size: medium;
  align-items: center;
  text-align: center;
}
#zanahoria, 
#guante {
  width: 20%;
  /* margin-left: 110px; */
}
#mouse {
  width: 50px;
  /* margin-left: 90px; */
}

#zanahoria , #guante {
  display: flex;
  justify-content: center;
}


 #cursor {
  width: 70px;
  /* margin-left: 80px; */
}

#descripcion{
  margin-left: 40px;
  margin-right: 40px;
  color: #FFFFFF;
}

#conocerMas{
  color:var(--blanco);
  width: 94%;
  margin: 16px 40px;
  
}
#conocerMas h3{
  text-decoration: underline;
  margin: 0;
  
}

.wrapper{
  max-width: 1200px;
  position: relative;
}
.wrapper i{
  top : 50%;
  height: 46px;
  width: 46px;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  text-align: center;
  line-height: 46px;
  transform: translateY(-50%);
}

.wrapper i img{
  margin-top: 10px;
  margin-left: 10px;
}
.wrapper i:first-child{
  left: -23px;
}
.wrapper i:last-child{
  right: -23px;
}
.wrapper .carrucel2{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior:smooth;
  /* smooth de a uno , auto de a muchas */
}
.carrucel2 img{
  height: 340px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100% /3);
}
#agregarComentario{
  background-color: var(--luz-P2);
  border-radius: 5px 5px 5px 5px;
  height: 150px;
  width: 70%;
  

}
#agregarComentario input{
  background-color: var(--luz-S2);
  border: none;
  border-radius: 5px 5px 5px 5px;
  height: 60px;
  width: 800px;
}
#enviar{
  font-family: var(--fuente);
  width: 100px;
  padding: 10px;
  margin: 5px 5%;
  font-size: 15px;
  background-color: var(--aceptar);
  color: #FFFFFF;
  font-weight: bolder;
  border: none;
  border-radius: 20px 20px 20px 20px;
}


.comentarios{
  margin-top: 100px;
  margin-left: 30px;
  color:#FFFFFF;
}
.comentarios h2{
  color :#FFFFFF
}
#agregarComentario{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  margin-left: 15px;

}
.form-puntuacion{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}
.form-puntuacion p{
  margin-left: 20px;
}
.form-comentario{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.form-comentario input{
  width: 700px;
}

.comentario {
  background-color: var(--luz-P2);
  border-radius: 5px 5px 5px 5px;
  width: 60%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.comentario p{
  padding: 20px;
  /* margin: 20px; */
  height: 20px;
  width: 100%;
  background-color: var(--luz-S2);
  border-radius: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
}
.perfil {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}
.anonoimo{
  margin-left: -30px;
  padding-left: 0px;
}
.perfil img {
  width: 50px;
  height: 50px;
}
.comentario p , h3 , #perfil{
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.comentario h3 , #perfil{
  display: flex;
  flex-direction: column;
  border: none
  
}
/* .puntuacion{
  display: flex;
  flex-direction: column;
} */


.puntuacion h4{
  margin-bottom: 0px;
  margin-left: 50px;
}

.puntuacion p{
  margin-left: 50px;
  margin-right: 50px;
  width: 500px;
}


#perfil{
  width: 60px;
  height: 50px;
  margin-left: 15px;
  display: flex;
  justify-content: center;

}

.perfil h3{
  margin-top: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}




/* home */

/* mobile */


.card{
  background-color: var(--blanco);
  border-radius: 5px;
  width: 100px;
  height: 150px;
  padding: 0%;
  margin: 0%;
  color: var(--negro);
}
/* .card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

#img-juego{
  width: 100%;
}
.precio {
  background-color: var(--colorSecundario);
  width: 25%;
  height: 10%;
  float: right;
  margin-top: 5%;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  align-items:center ;
}

/* .triangulo {
  width: 50px;
  height: 50px;
  border-bottom: 80px solid var(--colorSecundario);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
} */

  .card:hover{
    background-color: var(--luz-S1);
  }
  .info-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding:  0px 10px 0px 10px;
    margin-top: 30px;
    position: absolute;
    bottom: 15px;
  }
  
  
  .jugar {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sombra-P3);
    z-index: 1;
    margin: 0;
    height: 40px;
    margin-left: 40px;
    
  }
  
  .jugar img{
    width: 30px;
    height: 30px;
    padding-left: 10px;
    color: var(--sombra-P3);
  }
  
  .btn-izq , .btn-der{
    top : 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    line-height: 46px;
    background-color: var(--sombra-S2);
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .btn-izq img{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-der img{
    height: 60%;  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .card{
    width: calc(100% /5);
    object-fit: cover;
  }
  
  .cuerpo-carrousel{
    margin: 0;
    padding: 0;
    display: flex;
    /* height: 100vh; */
    /* width: 100%; */
    align-items: center;
    background-color: var(--sombra-P1);
  }
  
  .carrousel{
    /* width: 100%; */
    margin: 0px 0px;
  }
  
  .carrousel-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 0px;
    margin: 0px auto;
    /* max-width: 90vw; */
    overflow: hidden;
  }






/* home */

/* mobile */
.carrousel-track{
  position:relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5 ease-in-out;
}
.card{
  margin: 10px;
  position:relative; 
  height: 280px; 
  /* object-fit: cover; */
  transition: .3s ease-in-out;
}

.btn-der .btn-izq{
  position:absolute;
  text-align: center;
  cursor: pointer;
}
.btn-der .btn-izq :focus{
  outline: 0;
}
.btn-der .btn-izq svg{
  width: 12px;
  height: 100%;
}

#izq {
  left: 0px;
}

#der{
  right: 0px;
}

@media(min-width: 768px){

    .carrousel{
      margin: 0px 60px;
    }

    .carrousel{
      width: 275px;
    }
    .card{
      width: 250px;
    }
}




/* @media only screen and (min-width: 600px){
/* desktop */
/* .card{
  width: 300px;
  height: 250px;
}

}  */

/* desktop */
@media only screen and (min-width: 600px){
}