:root{
  /*Color primario*/
    --colorPrimario: #241468;

    /*Luces*/
    --luz-P1:#3E2B8F;
    --luz-P2:#513F9E;
    --luz-P3:#7560CE;

    /*Sombras*/
    --sombra-P1:#18095B;
    --sombra-P2:#140846;
    --sombra-P3:#170F3C;

  /*Color secundario*/
    --colorSecundario:#9F0D7F;

    /*Luces*/
    --luz-S1:#B52796;
    --luz-S2:#B74DA0;
    --luz-S3:#FF85E4;
    /*Sombras*/
    --sombra-S1:#8B1471;
    --sombra-S2:#71195D;
    --sombra-S3:#520C4299;
    
  /*Color acento*/
    --colorAcento: #E8FC00;

    /*Luces*/
    --luz-A1:#F0FD60;
    --luz-A2:#F7FF9B;
    --luz-A3:#F9FFB7;
    /*Sombras*/
    --sombra-A1:#BACA00;
    --sombra-A2:#B5B81C;
    --sombra-A3:#899500;

  /*Blancos y negros*/
    --blanco: #E4DFF9;
    --negro:#070417; 

  /*Fuentes*/
    --fuente: 'Raleway', sans-serif;
}

body {
  font-family: var(--fuente);
  color: var(--blanco);
}

h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

h2{
  font-style: normal;
  font-weight: 400;
  font-size: 24;
}

h3{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.texto {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.btn-primario {
  background: var(--colorAcento);
  border-radius: 45px;
  width: 320px;
  height: 65px;
  font-family: var(--fuente);
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 30px;
}

.btn-secundario {

}

.btn-terciario {

}

/*Pantalla de registro*/

.registracion {
  background-image: url('/css/imagenes/fondo.png');
  display: flex;
  justify-content: center;
}

.registracion h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 759px;
  height: 1300px;
  
  margin: 100px;
  background-color: var(--sombra-S3);

  border-radius: 10px;
}

.form h2{
  width: 519px;
}

#logo {
  margin: 30px;
  width: 75px;
  height: 64px;
}

.form input{
  top: 32.23%;
  bottom: 23.14%;
  width: 415px;
  height: 54px;

  background: rgba(228, 223, 249, 0.63);
  box-shadow: inset -3px -4px 4px rgba(181, 39, 150, 0.37);
  border-radius: 9px;
  border: 0px;
}



/*Pantalla de login*/



