body {
  background-color: #5499F8;
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* overflow-x: hidden; */
}

/**************** GENERAL ****************/

.full-width {
  width: 100%;
}


.width-1080 {
  width: 1080px;
  height: 720px;
}


/**************** HEADER ****************/
header {
  z-index: 2;
  background: linear-gradient(to bottom,#5499F8 75%, #5498f800 95%);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 227px;
  /* height: 103px; */
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

header.fixed {
  z-index: 10000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 103px;
  background: linear-gradient(to bottom,#5499F8 85%, #5498f800 95%);
}

#logo {
  width: 590px;
  height: 301px;
  margin-top: 91px;
  transition: all 0.3s ease-in-out;
}

#logo.fixed-img {
  position: absolute;
  top: 16px;
  width: 133px;
  height: 68px;
  margin-top: 0px;
}

/* Menu hamburguesa */
#btn-menu {
  position: absolute;
  width: 42px;
  height: 36px;
  translate: (-50%, -50%);
  cursor: pointer;
  left: 100px;
  top: 20px;
}


#linea-1,
#linea-2,
#linea-3 {
  display: block;
  width: 34px;
  height: 4px;
  background-color: #FFE901;
  border-radius: 30px;
  border: solid 4px #2981FF;
  transform-origin: 0px 100%;
  transition: all 300ms;
  box-shadow: 5px 5px rgba(2, 24, 126, 1);
}

#linea-1.activar-linea-1 {
  transform: rotate(45deg) translate(-2px, -5px);
  box-shadow:none;
  
}

#linea-2.activar-linea-2 {
  opacity: 0;
  margin-left: -30px;
}

#linea-3.activar-linea-3 {
  transform: rotate(-45deg) translate(7px, 7px);
  box-shadow:none;
}

#btn-comprar {
  right: 100px;
  top: 20px;
  width: 200px;
  height: 50px;
}

.btn {
  position: absolute;
  background-color: #FFE901;
  border-radius: 30px;
  border: solid 4px #2981FF;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #02187E;
  box-shadow: 5px 5px rgba(2, 24, 126, 1);
  -webkit-text-stroke: 1px #02187E;
  cursor: pointer;

}

/**************** SECCION 1 SPIDEYS ****************/

#seccion-1 {
  position: relative;
  /* z-index: 1; */
  background: url('imagenes/Seccion1/fondo1.png');
  /* background-size: cover; */
  height: 850px;
  margin-top: 126px;
  display: flex;
  overflow: hidden;
  /* overflow-y: visible; */
}


#seccion-1 img#edificio1, 
#seccion-1 img#edificio2,
#seccion-1 img#edificio3 {
  position: absolute;
  z-index: 3;
}

#seccion-1 img#edificio1 {
  height: 720px;
  width: 460px;
  bottom: 120px;
  left: -55px;
}

#seccion-1 img#edificio2 {
  height: 727.5px;
  width: 390px;
  bottom: 150px;
  right: 0px;
}

#seccion-1 img#edificio3 {
  left: 31%;
  height: 213.5px;
  width: 560px;
  bottom: 120px;
}

#seccion-1 img#personaje1,
#seccion-1 img#personaje2,
#seccion-1 img#personaje3 {
  position: absolute;
  z-index: 6;

}

#seccion-1 img#personaje1 {
  width: 360px;
  height: 444px;
  left: 8%;
  top: 262px;
}

#seccion-1 img#personaje2 {
  width: 465px;
  height: 465px;
  /* left: 33.3%; */
  left: 35%;
  top: 277px;
}

#seccion-1 img#personaje3 {
  width: 393px;
  height: 393px;
  right: 10%;
  /* right: 170px; */
  top: 209px;
}

#seccion-1 img#tela-araña-izq,
#seccion-1 img#tela-araña-der {
  position: absolute;
  z-index: 10;
  display: block;
}

#seccion-1 img#tela-araña-izq {
  left: 0;
  bottom: -70px;
}

#seccion-1 img#tela-araña-der {
  right: -40px;
  bottom: 200px;

}

/**************** SECCION 2 "Conoce a Spidey y sus sorprendentes amigos" ****************/

 #seccion-2 {
  position: relative;
  top: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#seccion-2 div.full-width {
  position: absolute;
  top: 3px;
  z-index: 0;
  width: 100%;
  height: 844px;
  background-color: #8F6AA6;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 85%);
}

#seccion-2 div.width-1080 {
  z-index: 1;
  position: relative;
  /* display: flex; */
}

#seccion-2 div.width-1080 div.texto {
  position: absolute;
}

#seccion-2 div.width-1080 div.personaje {
  position: absolute;
  right: -65px;
  top: 150px;
}  

#seccion-2 div.width-1080 div.texto h2 {
  color: white;
  font-size: 60px;
  font-weight: 400;
  width: 585px;
  margin: 0;
  margin-top: 200px;
}

#seccion-2 div.width-1080 div.texto p {
  color: white;
  font-size: 20px;
  width: 580px;
}

#seccion-2 div.width-1080 div.texto img#spideys-edificio {
  width: 751.65px;
  height: 413.13px;
}

#seccion-2 div.width-1080 div.pesonaje img#personaje{
  
  width: 553px;
  height: 921px;
  z-index: 2;
}


/**************** SECCION 3 Introduccion de los Spidey ****************/

#seccion-3 {
  position: relative;
  margin-top: -70px;
  width: 100%;
  height: 1085px;
  background-color: white;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seccion-3 div.width-1080 {
  display: flex;
  justify-content: space-between;
  margin-top: 330px;
}

#seccion-3 div div.card-personaje {
  width: 332.96px;
}

#seccion-3 div div.card-personaje p{
  font-size: 20px;
}


/**************** SECCION 4 Pistas ****************/

#seccion-4 {
  background: url('imagenes/Seccion4/fondo2.png');
}

/**************** SECCION 5 "Los vengadores acompañando tu aventura" ****************/

/**************** SECCION 6 "Mas amigos, mas diversión!" ****************/


#seccion-6{
  display: flex;
  justify-content: center;
  background-color: white;
  height: 2000px;
}

#seccion-6 h2 {
  font-size: 60px;
}

#seccion-6 h3{
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  width: 467px;
}

#seccion-6 p {
  font-size: 20px;
  width: 467px;
}

#seccion-6 div.container-scroll{
  display: flex;
  justify-content: space-between;
}

#col-img {
  width: 556px;
  position: sticky;
  top: 200px;
}

#col-textos .col-texto {
  height: 460px;
  margin-top: 10px;
  /* margin: 10px 10px; */
}

#col-img img{
  margin-bottom: 159px;
  margin-top: 10px;
  width: 556px;
  height: 301px;
  /* transition: transform 0.5s ease-in-out; */

}

/* .sticky {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
} */

/**************** SECCION 7 "”un gran poder conlleva una gran responsabilidad" ****************/

#seccion-7 {
  background-color: white;
}

#negro{
  background-color: black;
  clip-path: polygon(100% 10%, 100% 85%, 0 100%, 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
.unGranPoder{
  margin-top: 20%;
  align-items: center;
  color: #FFFF;
  font-size: 50px;
}
#btn-comprar-ahora {
  position: absolute;
  background-color: #FFE901;
  width: 240px;
  height: 50px;
}

.container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  background-color: #fff; 
  height: 700px;
  clip-path: polygon(0 0, 90% 30, 100% 100%, 0% 100%);
}


.personaje {
  
  transition: transform 0.3s, filter 0.3s, opacity 0.3s;
}
.grande {
  transform: scale(1.4);
}
.pequeno {
  transform: scale(0.8);
}
#personajes:hover .personaje:not(:hover) {
  transform: scale(0.8);
  filter: blur(2px);
  opacity: 0.7;
}
#personajes:hover .personaje:hover {
  transform: scale(1.4);
  cursor: pointer;
}
.rosa{
  
  border-top: 20px solid rgba(201, 43, 148, 1);
  border-bottom: 20px solid rgba(201, 43, 148, 1);
  background-color:#ff00a65f ;
}
.celeste{
 
  border-top: 20px solid rgba(37, 82, 200, 1);
  border-bottom: 20px solid rgba(37, 82, 200, 1);
  background-color: #2553c858;
}
.azul{
  
  border-top: 20px solid rgba(48, 76, 113, 1);
  border-bottom: 20px solid rgba(48, 76, 113, 1);
  background-color: #304c7163;
}

.popUp {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: #fff;
  width: 70%;
  height: 600px;
  font-size: 15px;
  z-index: 5;
}

.popUp h2 {
  font-size: 50px;
}

.imagen-container {
  flex: 0 0 30%;
}

.imagen-container img {
  width: 90%;
  height: 550px;
  margin: 20px;
}

.contenido {
  flex: 1;
  padding: 20px;
  position: relative;
}

#cerrar {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #fff;
  color: black;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}


/**************** SECCION 8 "Lo último de SPIDEY Y SUS AMIGOS en tu buzón de correo electrónico" ****************/

/**************** FOOTER ****************/

