body {
  /* background-color: #5499F8; */
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/**************** GENERAL ****************/

.full-width {
  width: 100%;
}

.width-1080 {
  width: 1080px;
  height: 720px;
}

/**************** HEADER ****************/
header {
  background: linear-gradient(to bottom,#5499F8 75%, #5498f800 95%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 227px;
  display: flex;
  justify-content: center;
  z-index: 2;
  transition: all 0.3s ease;
}

header.fixed {
  position: fixed;
  top: 0;
  height: 103px;
  background: linear-gradient(to bottom,#5499F8 85%, #5498f800 95%);
}

#logo {
  width: 590px;
  height: 301px;
  margin-top: 91px;
  transition: all 0.5s ease-in-out;
}

#logo.fixed-img {
  position: absolute;
  top: 16px;
  width: 133px;
  height: 68px;
  margin-top: 0px;
}

/* Menu hamburguesa */
#btn-menu {
  position: absolute;
  width: 42px;
  height: 36px;
  translate: (-50%, -50%);
  cursor: pointer;
  left: 100px;
  top: 20px;
}


#linea-1,
#linea-2,
#linea-3 {
  display: block;
  width: 34px;
  height: 4px;
  background-color: #FFE901;
  border-radius: 30px;
  border: solid 4px #2981FF;
  transform-origin: 0px 100%;
  transition: all 300ms;
  box-shadow: 5px 5px rgba(2, 24, 126, 1);
}

#linea-1.activar-linea-1 {
  transform: rotate(45deg) translate(-2px, -5px);
  box-shadow:none;
  
}

#linea-2.activar-linea-2 {
  opacity: 0;
  margin-left: -30px;
}

#linea-3.activar-linea-3 {
  transform: rotate(-45deg) translate(7px, 7px);
  box-shadow:none;
}

#btn-comprar {
  position: absolute;
  right: 100px;
  top: 20px;
  width: 200px;
  height: 50px;
  background-color: #FFE901;
  border-radius: 30px;
  border: solid 4px #2981FF;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #02187E;
  box-shadow: 5px 5px rgba(2, 24, 126, 1);
  -webkit-text-stroke: 1px #02187E;
  cursor: pointer;
}

/**************** SECCION 1 SPIDEYS ****************/

#seccion-1 {
  background: url('imagenes/Seccion1/fondo1.png');
  background-size: cover;
  height: 720px;
  margin-top: 126px;
  z-index: 1;

}

/**************** SECCION 2 "Conoce a Spidey y sus sorprendentes amigos" ****************/

 #seccion-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#seccion-2 div.full-width {
  position: absolute;
  z-index: 0;
  background-color: #8F6AA6;
  width: 100%;
  height: 844px;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 85%);
}

#seccion-2 div.width-1080 {
  z-index: 1;
  position: relative;
  display: flex;
}

#seccion-2 div.width-1080 div.texto {
  position: absolute;
}

#seccion-2 div.width-1080 div.personaje {
  position: absolute;
  right: -40px;
  top: 70px;
}  
#seccion-2 div.width-1080 div.texto h2 {
  color: white;
  font-size: 60px;
  font-weight: 400;
  width: 585px;
  margin: 0;
  margin-top: 150px;
}

#seccion-2 div.width-1080 div.texto p {
  color: white;
  font-size: 20px;
  width: 580px;
}

#seccion-2 div.width-1080 div.texto img#spideys-edificio {
  width: 751.65px;
  height: 413.13px;
}

#seccion-2 div.width-1080 div.pesonaje img#personaje{
  
  width: 553px;
  height: 921px;
  z-index: 2;
}


/**************** SECCION 3 Introduccion de los Spidey ****************/

#seccion-3 {
  position: relative;
  width: 100%;
  background-color: white;
  z-index: 0;
}

/**************** SECCION 4 Pistas ****************/

#seccion-4 {
  background: url('imagenes/Seccion4/fondo2.png');
}

/**************** SECCION 5 "Los vengadores acompañando tu aventura" ****************/

/**************** SECCION 6 "Mas amigos, mas diversión!" ****************/

/**************** SECCION 7 "”un gran poder conlleva una gran responsabilidad" ****************/

/**************** SECCION 8 "Lo último de SPIDEY Y SUS AMIGOS en tu buzón de correo electrónico" ****************/

/**************** FOOTER ****************/

